#highscores {
  background-color: $theme4;
  section.scores {
    padding: 80px;
    h1,
    .head {
      font-weight: bold;
    }
    .date {
      font-size: 12px;
    }
  }
  .g {
    .row {
      margin: 0;
    }
    .current {
      background-color: #515e6f;
    }
  }
}