#index {
  width: 100%;
  height: 100vh;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
  }
  #userLoginToggle,
  #activeUserMsg,
  #userActions {
    position: fixed;
    right: 50px;
    top: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    z-index: 5;
    p {
      margin: 0;
    }
  }
  #activeUserMsg {
    display: none;
    position: absolute;
    z-index: 6;
    i {
      position: absolute;
      top: 6px;
      left: 12px;
      color: white;
      font-size: 26px;
    }
    p {
      text-align: left;
      margin-left: 30px;
    }
  }
  #userActions {
    display: none;
    position: absolute;
    width: 175px;
    top: 100px;
    right: 50px;
    cursor: auto;
    opacity: 0.7;
    @include transition(0.2s, ease);
    &:hover {
      opacity: 1;
    }
    .buttonContainer {
      width: 100%;
      button {
        margin: 2px;
        width: 100%;
      }
    }
  }
  .showActions {
    right: 0 !important;
  }
  .formContainer {
    position: absolute;
    top: 0;
    right: 50px;
    height: 100vh;
    width: 500px;
    z-index: 4;
    @media (max-width: 1199px) and (min-width: 992px) {
      right: -600px;
    }
    #loginUser {
      display: none;
    }
    form {
      position: absolute;
      height: 600px;
      width: 500px;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 20px;
      border: 1px solid transparent;
      border-radius: 10px;
      @include centerXY();
      &:hover {
        border: 1px solid grey;
      }
      .inputStd {
        width: 80%;
        border: none;
        border-bottom: $border-std;
        background-color: transparent;
        display: block;
        margin: 10px 0 40px 0;
        color: $light-shade;
        &:focus {
          outline: none;
        }
      }
      .formBtn {
        position: absolute;
        top: initial;
        bottom: 20px;
        left: 20px;
      }
      .error {
        margin-top: 20px;
        color: red;
      }
    }
  }
  main {
    position: relative;
    width: 50vw;
    height: 100vh;
    z-index: 1;
    background-color: $trans-const;
    padding: 100px;
    .header {
      display: inline-block;
      margin-bottom: 50px;
      h1, h3 {
        display: inherit;
      }
      h1 {
        padding-right: 15px;
        border-right: 1px solid $blue-const;
        @media (max-width: 500px) {
          font-size: 2em;
        }
      }
      h3 {
        padding-left: 15px;
      }
    }
    @media (max-width: 1280px) {
      padding: 50px;
    }
    @media (max-width: 1200px) {
      width: 100vw;
      height: 800px;
    }
    @media (max-width: 500px) {
      padding: 20px;
    }
    .buttons {
      margin-top: 150px;
      @media (max-width: 1650px) {
        margin-top: 100px
      }
      @media (max-width: 1300px) {
        margin-top: 50px
      }
    }
    .buttonContainer {
      width: 100%;
      height: 200px;
      background-color: rgba(0, 0, 0, 0.4);
      h3 {
        position: absolute;
        margin: 0;
        width: 100%;
        text-align: center;
        @include centerXY();
      }
      @media (max-width: 1377px) {
        height: 100px;
      }
      &:hover {
        background-color: rgba(122,158,246, 0.5);
      }
      @include transition(0.2s, ease);
    }
  }
  
  section#campaign {
    width: 100%;
    height: 100vh;
    @media (max-width: 1280px) {
      height: initial;
    }
    img {
      top: 100vh;
    }
    h3 {
      text-align: center;
      margin-bottom: 50px;
      @media (max-width: 992px) {
        margin-bottom:  0;
      }
    }
    .chapter {
      height: 100%;
      padding: 100px;
      @media (max-width: 1400px) {
        padding: 20px;
      }
      @media (max-width: 1200px) {
        padding: 20px;
      }
      @media (max-width: 992px) {
        height: 300px;
        padding: 20px;
      }
      &:hover {
        background-color: $trans-const;
      }
      @include transition(0.2s, ease-out);
    }
    .ch1 {
      background-color: rgba(82, 118, 138, 1);
    }
    .ch2 {
      background-color: rgba(70, 99, 126, 1);
    }
    .ch3 {
      background-color: rgba(57, 70, 88, 1);
    }
    .ch4 {
      background-color: rgba(47, 56, 68, 1);
    }
    .stateContainer {
      height: 25%;
      position: relative;
      i {
        color: white;
        font-size: 2em;
        position: absolute;
        @include centerXY;
      }
    }
    .textContainer {
      height: 50%;
    }
    .unlockContainer {
      height: 25%;
      p {
        font-size: 12px;
        color: #dadad2;
        text-align: center;
        @media (max-width: 992px) {
          width: 50%;
          display: inline-block;
          float: left;
        }
      }
    }
  }
  section#freeMode {
    width: 100%;
    background-color: #340F0F;
    @media (max-width: 1280px) {
      h3 {
        font-size: 16px;
      }
    }
    .game {
      height: 300px;
      position: relative;
      .lockedOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 2;
        i {
          color: white;
          font-size: 2em;
          position: absolute;
          @include centerXY;
        }
      }
      h3 {
        display: inline-block;
        position: absolute;
        white-space: nowrap;
        @include centerXY();
        top: 35%;
        &:before,
        &:after {
          font-weight: 300;
          position: absolute;
          opacity: 0;
          @include transition(200ms, ease-in-out);
        }
        &:before {
          content: "[";
          left: -30px;
        }
        &:after {
          content: "]";
          right: -30px;
        }
      }
      &:hover {
        h3 {
          &:before,
          &:after {
            opacity: 1;
          }
          &:before {
            left: -10px;            
          }
          &:after {
            right: -10px;
          }
        }
      }
    }
    .difContainer {
      position: absolute;
      width: 60%;
      @include centerXY();
      top: 65%;
      div {
        padding: 0;
      }
      p {
        text-align: center;
        font-weight: bold;
      }
    }
    .g1 {
      background-color: rgb(96, 58, 48);
    }
    .g2 {
      background-color: rgb(101, 49, 45);
    }
    .g3 {
      background-color: rgb(75, 35, 35);
    }
    .g4 {
      background-color: rgb(55, 29, 31);
    }
  }
  .userProfile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $trans-const;
    z-index: 11;
    .elemContainer {
      position: absolute;
      width: 80%;
      height: 1000px;
      overflow: auto;
      padding-top: 50px;
      @include centerXY;
      .collection {
        p {
          display: inline;
        }
      }
      img {
        position: relative;
        width: 100px;
        height: 100px;

      }
    }
    i.close {
      position: absolute;
      top: 50px;
      right: 50px;
      left: initial;
      cursor: pointer;
      font-size: 2.5em;
    }
  }
  section#about {
    header {
      background-color: $theme4;
      h1 {
        text-align: center;
        padding-top: 20px;
        margin: 0;
      }
    }
    .post {
      height: 300px;
      padding: 50px;
      .pic {
        height: 100%;
        @media (max-width: 768px) {
          height: 50%;
        }
      }
      img {
        height: initial;
        width: initial;
        position: static;
        max-height: 100%;
        max-width: 100%;
        border-radius: 50%;
      }
      .des {
        strong {
          font-size: 2em;
        }
      }
    }
    .post:nth-of-type(2) {
      background-color: $theme4;
    }
    .post:nth-of-type(3) {
      background-color: $theme3;
    }
    .post:nth-of-type(4) {
      background-color: $theme2;
    }
    .post:nth-of-type(5) {
      background-color: $theme1;
    }
    .post:nth-of-type(6) {
      height: initial;
      background-color: #65312d;
      p,
      h3,
      h4 {
        text-align: center;
      }
      h4 {
        text-decoration: underline;
      }
    }
  }
}
