#photographyGame {
  .err {
    color: red;
  }
  .photoContainer {
    width: 150px;
    display: inline-block;
    overflow: hidden;
    margin-left: 20px;
    .crop {
      overflow: hidden;
    }
    aside {
      width: 100%;
      height: 100px;
      overflow: auto;
      p {
        margin: 0;
        text-align: center;
        font-size: 12px;
      }
    }
    .photo {
      max-width: 100%;
      transform: scale(1.1) translateX(-50%);
      margin-left: 50%;
    }
  }
  #map {
    width:100%;
    height: 100vh;
  }
  .overlay {
    position: fixed;
    width: 1000px;
    height: 800px;
    @include centerXY;
    background-color: rgba(0,0,0, 0.8);;
    padding: 50px;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 7;
  }
  #blockOverlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: 
      radial-gradient(black 15%, transparent 16%) 0 0,
      radial-gradient(black 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
      background-color:#282828;
      background-size:16px 16px;
    z-index: 6;
    top: 0;
    opacity: 0.4;
    display: none;
  }
  #inventory,
  #loanOverlay,
  #soldInfoOverlay,
  #waitInfo,
  #gameEnd,
  #takingPic  {
    #rollValue,
    #sellableValue {
      position: absolute;
      right: 20px;
      bottom: 40px;
    }
    #sellableValue {
      bottom: 20px;
    }
  }
  #loanOverlay,
  #soldInfoOverlay,
  #waitInfo,
  #gameEnd,
  #takingPic,
  #washPicOverlay,
  #savePicOverlay  {
    width: 600px;
    height: 300px;
  }
  #takingPic {
    height: 400px;
    .shotStats {
      margin-top: 20px;
    }
    .subContainer{
      padding: 20px 0 35px 0;
      .bar {
        width: 100%;
        height: 5px;
        background-color: transparent;
        position: relative;
        .section {
          height: 100%;
          float: left;
        }
        .section1,
        .section5 {
          width: 25%;
          background-color: red;
        }
        .section2,
        .section4 {
          width: 20%;
          background-color: #2E4CA9;
        }
        .section3 {
          width: 10%;
          background-color: #18EB18;
        }
        .slider {
          position: absolute;
          top: -8px;
          width: 20px;
          height: 20px;
          background-color: rgb(22, 243, 189);
          border-radius: 10px;
        }
      }
    }
  }
  #savePicOverlay {
    height: 400px;
    z-index: 8;
    background-color: rgba(0,0,0, 0.9);
    img {
      margin-left: 50%;
      transform: translateX(-50%);
    }
    
  }
  #playerInfoOverlay,
  #locationInfoOverlay,
  #actions,
  #eventLog,
  #insanityBar {
    position: fixed;
    height: 215px;
    width: 400px;
    background-color: rgba(0,0,0, 0.8);
    left: 20px;
    bottom: 20px;
    padding: 25px;
    border-radius: 10px;
    z-index: 5;
    img {
      margin-left: 50%;
      transform: translateX(-50%);
    }
    #description {
      margin-top: 20px;
      overflow: auto;
    }
    #position {
      font-weight: 800;
    }
    #stats {
      h4 {
        text-align: left;
      }
    }
  }
  #insanityBar {
    width: 100px;
    left: 440px;
  }
  #locationInfoOverlay {
    height: 300px;
    top: 20px;
    .locationInfo {
      height: 100px;
    }
    .desContainer {
      height: 80px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  #actions {
    width: auto;
    height: 100px;
    position: fixed;
    top: 20px;
    left: 500px;
    padding: 10px;
    z-index: 5;
    p {
      text-align: center;
    }
  }
  #eventLog {
    top: 350px;
    height: 375px;
    overflow-y: auto;
    .row {
      border-bottom: 1px solid white;
      padding-top: 5px;
    }
    p {
      display: inline-block;
    }
    p.time {
      display: block;
    }
    .title.special {
      color: $blue-const;
    }
  }
}

