main#puzzleGame {
  width: 1200px;
  margin: auto;
  #selectionArea {
    margin-top: 100px;
    width: 100%;
    overflow: auto;
    .choice {
      float: left;
      width: 8%;
      height: 150px;
      cursor: pointer;
      padding: 0;
      margin: 1px;
      pointer-events: all;
      &:hover {
        border: 1px solid red;
      }
      img {
        pointer-events: none;
      }
    }
  }
  #timer {
    width: 200px;
    height: 50px;
    position: fixed;
    left: 100px;
    top: 64px;
  }
  #tileTemplate {
    float: left;
    position: relative;
    width: 650px;
    height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    @include centerX();
  }
  #gameArea {
    margin-top: 100px;
    height: 1000px;
    .tile {
      float: left;
      background-repeat: no-repeat;
    }
  }
  .winScreen,
  .continueScreen {
    display: none;
    width: 500px;
    height: 800px;
    background-color: $trans-const;
    border-radius: 5px;
    position: fixed;
    padding: 20px;
    @include centerXY;
    img {
      width: 300px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
    h3 {
      text-align: center;
    }
    p {
      text-align: center;
    }
    .save {
      display: none;
    }
  }
  button {
    background: none;
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    @include transition(50ms, ease-in-out);
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    &:focus {
      outline: none;
    }
  }
  .skip {
    background-color: $theme1;
    &:hover {
      background-color: $theme2;
    }
  }
  .buttonContainer {
    text-align: center;
    a {
      display: block;
    }
    button {
      margin-top: 10px;
    }
  }
}