<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BYGONE: Chapter 4</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Raleway:200,400,900" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/chapter1.css">
    <link rel="stylesheet" href="../public/stylesheets/main_style.css">
    <link href="../bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="loader">
      <div class="loaderContent">
        <h1>BYGONE</h1>
        <div class="spinnerContainer">
          <div class="spinner"></div>
          <div class="spinner2"></div>
          <div class="spinner3"></div>
        </div>
        <div class="loaderBar">
        </div>
      </div>
    </div>
    <div id="navToggle">
      <i class="ion-navicon ionOpen buttonActive"></i>
      <i class="ion-close-round ionClose"></i>
    </div>
    <nav id="global">
      <div class="navContainer">
        <div class="container-fluid">
          <div class="row">
            <a href="#campaign">
              <div class="col-lg-6 col-sm-6 navButton">
                <h3>CAMPAIGN</h3>
                <p>Experience the tradegy of war through the eyes of Matt.</p>
              </div>
            </a>
            <a href="#freeMode">
              <div class="col-lg-6 col-sm-6 navButton">
                <h3>FREE MODE</h3>
                <p>Kill some time in these minigames.</p>
              </div>
            </a>
            <a href="">
              <div class="col-lg-6 col-sm-6 navButton">
                <h3>HIGH SCORES</h3>
                <p>Checkout the best players.</p>
              </div>
            </a>
            <a href="">
              <div class="col-lg-6 col-sm-6 navButton">
                <h3>ABOUT</h3>
                <p>See the D4NK people behind BYGONE.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div id="story">
      <div id="chapTitle">
        <p>Chapter 4</p>
      </div>
      <img id="warEnds" class="background" src="images/warends.jpg">
      <section id="chap4img1">
        <img id="mattHome" class="background" src="images/dawn.jpg">
        <img id="pourMilk" class="background" src="images/pourmilk.png">
        <img id="flashBackBlur" class="background" src="images/flashbackblur.jpg">
        <img id="flashBack" class="background" src="images/flashback.jpg">
        <img id="roomBlur" class="background" src="images/roomblur.jpg">
        <img id="dropMilk1" class="background" src="images/dropmilk1.jpg">
        <img id="dropMilk2" class="background" src="images/dropmilk2.jpg">
        <img id="mattDrink" class="background" src="images/mattdrink.png">
      </section>
      <section id="chap4img2">
        <img id="office" class="background" src="images/office.jpg">
        <img id="boss" class="char" src="images/boss1.png">
        <img id="mattSuit" class="char" src="images/mattsuit.png">
        <img id="mattHand" class="background" src="images/matthand.jpg">
      </section>
    </div>
    <div id="back">
      <a class="game4Link" href="">
        <div class="gameButton">
          <p>Start Game</p>
        </div>
      </a>
    </div>
    <div id="subspace">
      <section id="chap4sub1">
        <p class="matt">It's finally over.</p>
        <p class="matt">Now I only hope for a peaceful rest of life.</p>
        <p class="matt">But the phantom seems never gonna fade away.</p>
      </section>
      <section id="chap4sub2">
        <p class="officer">The war totally messed our business up.</p>
        <p class="officer">We would have to replace you with a better photographer</p>
        <p class="officer">Unless you provide us pictures with higher quality.</p>
        <p class="matt">I'll try my best, sir.</p>
        <p class="matt">Can I still do it...?</p>
      </section>
    </div>
  </body>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../public/javascripts/story.js"></script>
  <script src="../public/javascripts/main_script.js"></script>
</html>
