<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BYGONE: Chapter 1</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Raleway:200,400,900" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/chapter1.css">
    <link rel="stylesheet" href="../public/stylesheets/main_style.css">
    <link href="../bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="loader">
      <div class="loaderContent">
        <h1>BYGONE</h1>
        <div class="spinnerContainer">
          <div class="spinner"></div>
          <div class="spinner2"></div>
          <div class="spinner3"></div>
        </div>
        <div class="loaderBar">
        </div>
      </div>
    </div>
    <div id="navToggle">
      <i class="ion-navicon ionOpen buttonActive"></i>
      <i class="ion-close-round ionClose"></i>
    </div>
    <nav id="global">
      <div class="navContainer">
        <div class="container-fluid">
          <div class="row">
            <a href="../index.html#campaign">
              <div class="col-lg-6 col-sm-6 navButton">
                <h3>CAMPAIGN</h3>
                <p>Experience the tradegy of war through the eyes of Matt.</p>
              </div>
            </a>
            <a href="../index.html#freeMode">
              <div class="col-lg-6 col-sm-6 navButton">
                <h3>FREE MODE</h3>
                <p>Kill some time in these minigames.</p>
              </div>
            </a>
            <a href="../views/highscores.html">
              <div class="col-lg-6 col-sm-6 navButton">
                <h3>HIGH SCORES</h3>
                <p>Checkout the best players.</p>
              </div>
            </a>
            <a href="">
              <div class="col-lg-6 col-sm-6 navButton">
                <h3>ABOUT</h3>
                <p>See the D4NK people behind BYGONE.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div id="story">
      <div id="chapTitle">
        <p>Chapter 1</p>
      </div>
      <img id="house" class="background" src="images/oldhouse.jpg">
      <section id="chap1img" class="interact">
        <img id="room" class="background" src="images/room2.jpg">
        <img id="mother" class="char" src="images/mom.png">
        <img id="son" class="char" src="images/boi1.png">
        <img id="eye" class="background" src="images/1_1.jpg">
        <img id="ripping" class="background" src="images/ripping.jpg">
        <img id="letter" class="background" src="images/letter.jpg">
        <img id="desk" class="background" src="images/desk.png">
        <img id="scraps" class="char" src="images/scraps.png">
        <img id="hand" class="char" src="images/hand.png">
      </section>
    </div>
    <div id="back">
      <a class="game1Link" href="game.Puzzle.html?story=true&diff=normal">
        <div class="gameButton">
          <p>Start Game</p>
        </div>
      </a>
    </div>
    <div id="subspace">
      <section id="chap1sub">
        <p class="son">Mom?</p>
        <p class="son">What are you doing Mom?</p>
        <p class="mom">It's your Daddy's picture.</p>
        <p class="mom">*SIGH*</p>
        <p class="mom">He never made it through the war...</p>
        <p class="son">Dad...</p>
        <p class="son">How did you look like...?</p>
      </section>
    </div>
  </body>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../public/javascripts/story.js"></script>
  <script src="../public/javascripts/main_script.js"></script>
</html>
