<!DOCTYPE html>
<html>
	<head>
		<title>Bygone</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/stylesheet.css">
		<link href="../public/stylesheets/main_style.css" rel="stylesheet">
		<link href="../bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<!-- <div class="redirectTrans"></div>
	<div id="loader">
		<div class="loaderContent">
			<h1>BYGONE</h1>
			<div class="spinnerContainer">
				<div class="spinner"></div>
				<div class="spinner2"></div>
				<div class="spinner3"></div>
			</div>
			<div class="loaderBar">
			</div>
		</div>
	</div>
	<div id="navToggle">
		<i class="ion-navicon ionOpen buttonActive" style="color:black"></i>
		<i class="ion-close-round ionClose" style="color:black"></i>
	</div>
	<nav id="global">
		<div class="navContainer">
			<div class="container-fluid">
				<div class="row">
					<a href="../index.html#campaign">
						<div class="col-lg-6 col-sm-6 navButton">
							<h3>CAMPAIGN</h3>
							<p>Experience the tradegy of war through the eyes of Matt.</p>
						</div>
					</a>
					<a href="../index.html#freeMode">
						<div class="col-lg-6 col-sm-6 navButton">
							<h3>FREE MODE</h3>
							<p>Kill some time in these minigames.</p>
						</div>
					</a>
					<a href="../views/highscores.html">
						<div class="col-lg-6 col-sm-6 navButton">
							<h3>HIGH SCORES</h3>
							<p>Checkout the best players.</p>
						</div>
					</a>
					<a href="../index.html#about">
						<div class="col-lg-6 col-sm-6 navButton">
							<h3>ABOUT</h3>
							<p>See the D4NK people behind BYGONE.</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</nav> -->
	<body id="mainmenu">
		<noscript>Your browser does not support JavaScript!</noscript>
		<section id="level1">
			<audio id="audio">
				<source src="audio/ambience.mp3" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
			<script src="../public/javascripts/game3.js"></script>
			<div id="soldiers">
			</div>
			<div id="enemy">
			</div>
			<div id="teamlist">
				<h1>Prepare for the charge! Make sure your friends survive</h1>
				<p>SQUAD MEMBERS</p>
			</div>
		</section>
		<section id="level2">

		</section>
		<img class="scope" src="images/scope2.png">
	</body>
</html>