<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bygone</title>
  <meta name="description" content="Bygone - Photography Game">
  <meta name="author" content="STAB Inc.">
  <meta http-equiv="X-UA-Compatible", content="IE=edge">
  <meta name="viewport", content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
  <link href="../public/stylesheets/main_style.min.css" rel="stylesheet">
</head>
<body>
  <main id="photographyGame">
    Abstract Photography Game
    <button id="debug">debug</button>
    <button id="play">play</button>
    <button id="reset">reset</button>
    <div id="map">
    </div>
  </main>
</body>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="../public/javascripts/main_script.js"></script>
<script src="../public/javascripts/game.base.js"></script>
<script src="../public/javascripts/game.photography.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0tZ9JkyOxPPGTkxQYEctdxiqUXcqq6HY&callback=initMap"></script>
</html>