<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bygone</title>
  <meta name="description" content="Bygone - Photography Game">
  <meta name="author" content="STAB Inc.">
  <meta http-equiv="X-UA-Compatible", content="IE=edge">
  <meta name="viewport", content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
  <link href="../public/stylesheets/main_style.min.css" rel="stylesheet">
</head>
<body>
  <main id="photographyGame">
    <div id="map">
    </div>
    <div id="inventory">
      <div class="close">Close</div>
      <p id="invValue">te</p>
    </div>
    <div id="infoOverlay">
      <div class="container-fluid">
        <div class="row">
          <h4 id="title">Location Info</h4>
        </div>
        <div class="row">
          <img src="">
        </div>
        <div class="row">
          <p id="description"></p>
          <p id="position"></p>
          <p id="value"></p>
          <p id="travelExpense"></p>
        </div>
        <div class="row" id="stats">
          <h4><b>Player Stats</b></h4>
          <p id="workingCapital">Working Capital:</p>
          <p id="capital">Capital:</p>
          <p id="assets">Assets:</p>
          <p id="liabilities">Liabilities:</p>
        </div>
        <div class="row" id="actions">
          <button id="takePic">Take Picture</button>
          <button id="checkInv">Inventory</button>
        </div>
      </div>
    </div>
  </main>
</body>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="../public/javascripts/main_script.js"></script>
<script src="../public/javascripts/game.base.js"></script>
<script>
  googleMap = null
  function initMap(){
    return googleMap = new google.maps.Map(document.getElementById('map'), {
      zoom: 6,
      center: {
        lat: -27.4698,
        lng: 153.0251
      },
      streetViewControl: false,
      mapTypeControl: false,
      fullscreenControl: false
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0tZ9JkyOxPPGTkxQYEctdxiqUXcqq6HY&callback=initMap"></script>
<script src="../public/javascripts/game.photography.js"></script>
</html>