<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DECO1800 Major Project</title>
  <meta name="description" content="Bygone - Puzzle Game">
  <meta name="author" content="STAB Inc.">
  <meta http-equiv="X-UA-Compatible", content="IE=edge">
  <meta name="viewport", content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
  <link href="../public/stylesheets/main_style.min.css" rel="stylesheet">
</head>
<body>
  <main id="puzzleGame">
    Abstract Puzzle Game
    <button id="debug">debug</button>
    <button id="play">play</button>
    <button id="reset">reset</button>
    <br>
    <div id="selectionArea">
    </div>
    <div id="gameArea">
    </div>
    <div id="tileTemplate"></div>
  </main>
</body>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="../public/javascripts/main_script.js"></script>
<script src="../public/javascripts/game.base.js"></script>
<script src="../public/javascripts/game.puzzle.js"></script>
</html>