<!DOCTYPE html>
<html>
	<head>
		<title>Bygone - Game 3</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/stylesheet.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body id="mainmenu">
		<noscript>Your browser does not support JavaScript!</noscript>
		<section id="level1">
			<audio id="audio">
				<source src="audio/ambience.mp3" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
			<script src="../public/javascripts/game3.js"></script>
			<div id="soldiers">
			</div>
			<div id="enemy">
			</div>
			<div id="teamlist">
				<h1>Prepare for the charge! Make sure your friends survive</h1>
				<p>SQUAD MEMBERS</p>
			</div>
		</section>
		<section id="level2">

		</section>
		<img class="scope" src="images/scope2.png">
	</body>
</html>