<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BYGONE - Highscores</title>
    <meta name="description" content="Bygone - Puzzle Game">
    <meta name="author" content="STAB Inc.">
    <meta http-equiv="X-UA-Compatible", content="IE=edge">
    <meta name="viewport", content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Raleway:200,400,900" rel="stylesheet">
    <link href="../public/stylesheets/main_style.css" rel="stylesheet">
    <link href="../bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet">
  </head>
  <div id="loader">
    <div class="loaderContent">
      <h1>BYGONE</h1>
      <div class="spinnerContainer">
        <div class="spinner"></div>
        <div class="spinner2"></div>
        <div class="spinner3"></div>
      </div>
      <div class="loaderBar">
      </div>
    </div>
  </div>
  <div id="navToggle">
    <i class="ion-navicon ionOpen buttonActive"></i>
    <i class="ion-close-round ionClose"></i>
  </div>
  <nav id="global">
    <div class="navContainer">
      <div class="container-fluid">
        <div class="row">
          <a href="../index.html#campaign">
            <div class="col-lg-6 col-sm-6 navButton">
              <h3>CAMPAIGN</h3>
              <p>Experience the tradegy of war through the eyes of Matt.</p>
            </div>
          </a>
          <a href="../index.html#freeMode">
            <div class="col-lg-6 col-sm-6 navButton">
              <h3>FREE MODE</h3>
              <p>Kill some time in these minigames.</p>
            </div>
          </a>
          <a href="">
            <div class="col-lg-6 col-sm-6 navButton">
              <h3>HIGH SCORES</h3>
              <p>Checkout the best players.</p>
            </div>
          </a>
          <a href="">
            <div class="col-lg-6 col-sm-6 navButton">
              <h3>ABOUT</h3>
              <p>See the D4NK people behind BYGONE.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <body id="highscores">
    <section class="scores">
      <div class="container-fluid">
        <div class="row">
          <h1>BYGONE | Highscores</h1>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="row">
              <h2>Puzzle Game</h2>
            </div>
            <div class="row g1">
              <div class="row">
                <div class="col-lg-4">
                  <p class="head">Name</p>
                </div>
                <div class="col-lg-4">
                  <p class="head">Score</p>
                </div>
                <div class="col-lg-4">
                  <p class="head">Date</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="row">
              <h2>Photography Game</h2>
            </div>
            <div class="row g2">
              <div class="row">
                <div class="col-lg-4">
                  <p class="head">Name</p>
                </div>
                <div class="col-lg-4">
                  <p class="head">Score</p>
                </div>
                <div class="col-lg-4">
                  <p class="head">Date</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="row">
              <h2>Shooting Game</h2>
            </div>
            <div class="row g3">
              <div class="row">
                <div class="col-lg-4">
                  <p class="head">Name</p>
                </div>
                <div class="col-lg-4">
                  <p class="head">Score</p>
                </div>
                <div class="col-lg-4">
                  <p class="head">Date</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="row">
              <h2>Photography Plus</h2>
            </div>
            <div class="row g4">
              <div class="row">
                <div class="col-lg-4">
                  <p class="head">Name</p>
                </div>
                <div class="col-lg-4">
                  <p class="head">Score</p>
                </div>
                <div class="col-lg-4">
                  <p class="head">Date</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../public/javascripts/main_script.js"></script>
  <script src="../public/javascripts/highscores.js"></script>
</html>