<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>BYGONE</title>
      <meta name="description" content="DECO1800 Project">
      <meta name="author" content="STAB Inc.">
      <meta http-equiv="X-UA-Compatible", content="IE=edge">
      <meta name="viewport", content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,400" rel="stylesheet">
      <link href="public/stylesheets/main_style.css" rel="stylesheet">
      <link href="bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet">
    </head>