ul {
  list-style: none;
}

body {
  overflow-y: hidden;
}

a {
  cursor: pointer;
  color: black;
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
    color: inherit;
  }
}

.close {
  float: left;
  color: #9B9B9B;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 1;
  font-weight: 300;
  text-shadow: none;
  &:hover {
    color: #dadad2;
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.80);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(57, 70, 88, 0.8);
} 
