ul {
  list-style: none;
}

body {
  overflow-x: hidden;
}

a {
  cursor: pointer;
  color: black;
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
    color: inherit;
  }
}

.close {
  float: left;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 1;
  font-weight: 300;
  text-shadow: none;
}