@mixin transition-ease($time) {
  transition: all $time ease-in-out;
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
}

@mixin transition-cubic($time) {
  transition: all $time ease-out;
  -webkit-transition: all $time ease-out;
  -moz-transition: all $time ease-out;
}

@mixin centerX() {
  left: 50%;
  transform: translateX(-50%);
}

@mixin centerY() {
  top: 50%;
  transform: translateY(-50%);
}

@mixin centerXY() {
  @include centerX();
  @include centerY();
  transform: translate(-50%, -50%);
}