body {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  color: black;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
}

main {
  height: 100vh;
  text-align: left;
  padding-top: 100px;
  position: relative;
}

main nav#index-nav {
  padding-top: 20px;
  width: 100%;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
}

main nav#index-nav h1 {
  padding-left: 170px;
}

main nav#index-nav ul {
  padding-top: 50px;
}

main nav#index-nav ul li {
  width: 800px;
  padding: 10px 0 10px 170px;
  margin: 20px 0 20px 0;
  position: relative;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

main nav#index-nav ul li:hover {
  color: white;
}

main nav#index-nav ul li:hover .bg {
  width: 500px;
}

main nav#index-nav ul li p {
  color: white;
  pointer-events: none;
}

main nav#index-nav ul li .bg,
main nav#index-nav ul li .chapter-selection {
  background-color: black;
  width: 0px;
  height: 65px;
  position: absolute;
  top: 10px;
  left: 150px;
  z-index: -1;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
}

main nav#index-nav ul li .chapter-selection {
  pointer-events: none;
  width: 500px;
  left: 55%;
  z-index: 0;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
  top: 53%;
  margin-left: 60px;
}

main nav#index-nav ul li .chapter-selection ul,
main nav#index-nav ul li .chapter-selection li {
  padding: 0;
}

main nav#index-nav ul li .chapter-selection a {
  width: 60px;
  height: 60px;
  float: left;
  top: 0;
  border: 2px solid white;
  margin: 0 30px 0 30px;
  left: 50px;
  transform: rotate(45deg);
  opacity: 0;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
}

main nav#index-nav ul li .chapter-selection a li {
  width: 100%;
  text-align: center;
  margin: 0;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
}
