body {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

main {
  width: 800px;
  margin: auto;
  text-align: center;
  padding-top: 150px;
  nav {
    #index-nav {
      li {
        margin: 30px 0 30px 0;
      }
    }
  }
}
