@import 'helper_classes';

body {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: black;
  &:hover {
    text-decoration: none;
  }
}

main {
  width: 800px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  nav#index-nav {
    padding-top: 25px;
    width: 200px;
    margin: auto;
    li {
      padding: 5px 0 5px 0;
      margin: 20px 0 20px 0;
      &:hover {
        background-color: black;
        color: white;
      }
      @include transition-ease(0.2s);
    }
  }
}
