.scope {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.machinegun {
	position: absolute;
	right: 0px;
	top: 50%;
	height: 20%;
	z-index: -1	;
}

body {
	font: sans-serif;
	overflow: hidden;
	background-image: url("../../views/images/field.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0% 10%; 
}

#soldiers {
	position: relative;
	width: 100px;
	height: 100px;
}

#soldiers img{
	transform: translate(-50%, -50%);
}

#teamlist{
	position: absolute;
	z-index: 0;
	top:0;
	left: 30%;
	margin: auto;
    width: 40%;
	border: 3px solid olivedrab;
	background-color: gray;
	text-align:center;
}

#teamlist img{
	width: 50px;
	height: 75px;
}