$light-shade: #e8e8e6;
$dark-shade: #101010;
$blue-const: #7A9EF6;
$trans-const: rgba(0, 0, 0, 0.7);


$theme1: rgba(82, 118, 138, 1);


$theme2: rgba(70, 99, 126, 1);


$theme3: rgba(57, 70, 88, 1);


$theme4: rgba(47, 56, 68, 1);


$border-std: 1px solid white;